#Ignore Files in Folder 

# Build Directory

build/
build_opticks_local/
build_opticks/
# Root outputs

output/*.root
output/.venv/
#macOS junk

.DS_Store

# editor back files 

*~
*.log
*.tmp
__pycache__/
.vscode/
.idea/
